<a href="https://colab.research.google.com/github/adityajain2407/july23-python/blob/main/july_list_2d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Rotate a list by 1 element.

```[1, 2, 3, 4, 5]``` -> last element is removed and added to the start.

```[5, 1, 2, 3, 4]```

In [1]:
a = [1, 2, 3, 4, 5]
n = len(a)

last_elem = a[-1]
remaining_list = a[0:n-1]

ans = [last_elem] + remaining_list

print(ans)

[5, 1, 2, 3, 4]

* ```list.pop()``` removes and returns an element at a particular index.
* ```list.remove()``` removes a particular value from a list.

In [8]:
a = [5,7,2,6,9]

In [9]:
print(a)

[5, 7, 2, 6, 9]

In [10]:
elem = a.pop(1) #removed an elem present at index 1 in the list

In [11]:
print(elem)

7

In [12]:
print(a)

[5, 2, 6, 9]

* ```.remove()``` removes the value from a list based on values.
* It removes the first occourance of an element.

In [13]:
a = [1, 2, 3, 4, 5, 4, 4, 4, 5]

In [14]:
a.remove(4)

In [15]:
print(a)

[1, 2, 3, 5, 4, 4, 4, 5]

In [16]:
a.remove(100)

ValueError: ignored

In [17]:
#index()

* ```list.index()``` method.
* Returns the index of an element corresponding to a particular value.
* If the list has multiple occourances of that element it will return the index of the first element that matches the value passed.

In [18]:
a = [5,7,2,6,9]

ind5 = a.index(5)
print(ind5)

0

In [19]:
a = [1, 2, 3, 4, 5, 4, 4, 4, 5]
ind4 = a.index(4)
print(ind4)

3

In [20]:
#count()
a = [1, 1, 1, 2, 2, 2, 5, 6, 1, 7, 3, 4]
ans = a.count(1)
print(ans)

4

In [21]:
print(a.count(2))

3

In [22]:
#Write a program to print the reverse of a list

In [23]:
a = [5,7,2,6,9]
a[::-1]

[9, 6, 2, 7, 5]

In [24]:
a = [5,7,2,6,9]

a.reverse() #reverses the original list itself
print(a)

[9, 6, 2, 7, 5]

In [25]:
a = [5,7,2,6,9]
a[::-1]

[9, 6, 2, 7, 5]

In [26]:
print(a)

[5, 7, 2, 6, 9]

In [28]:
#reversed()

a = [5,7,2,6,9]

#a[::-1]
ans = list(reversed(a))
print(ans)

[9, 6, 2, 7, 5]

In [29]:
print(a)

[5, 7, 2, 6, 9]

In [30]:
#List 2D

In [31]:
a = [ [1,2,3] , [4,5,6] , [7,8,9] ]

print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
a = [
    [1,2,3] ,
    [4,5,6] ,
    [7,8,9]
    ]

print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [33]:
rows = len(a)
print(rows)

3

In [35]:
cols = len(a[0])
print(cols)

3

In [36]:
print(a[1])

[4, 5, 6]

In [37]:
print(a[0])

[1, 2, 3]

In [38]:
print(a[0][2])

3

In [39]:
print(a[2][1])

8

In [40]:
#doubt

a = [2, [3,4]]
print(a)

[2, [3, 4]]

In [41]:
a = [2, 4.5, "AJ", [5,6]]
type(a)

list

In [42]:
len(a)

4

In [43]:
#iterating over a Matrix

In [44]:
a = [5,7,3,8]

In [45]:
#way1
n = len(a)
for i in range(n):
  print(a[i])

5
7
3
8

In [46]:
#way2

for elem in a:
  print(elem)

5
7
3
8

In [47]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [48]:
n = len(a)
m = len(a[0])

In [49]:
for i in range(n):
  print(a[i])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [50]:
for i in range(n):
  for j in range(m):
    print(a[i][j])

1
2
3
4
5
6
7
8
9

In [51]:
for i in range(n):
  for j in range(m):
    print(a[i][j], end = " ")

  print()

1 2 3
4 5 6
7 8 9

In [53]:
for i in range(n):
  for j in range(m):
    print(i,j, end = " | ")

  print()

0 0 | 0 1 | 0 2 |
1 0 | 1 1 | 1 2 |
2 0 | 2 1 | 2 2 |

In [54]:
#way2

for row in a:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [55]:
for row in a:

  for elem in row:
    print(elem, end = " ")

  print()

1 2 3
4 5 6
7 8 9

In [58]:
random = [[1, 2, 3], ["a", "b", "c", "d", "e"], [4.5, 6.7]]

for row in random:
  for elem in row:
    print(elem, end = " ")

  print()

1 2 3
a b c d e
4.5 6.7

##**Question-4**
Take a 3X3 matrix as an input from the user.

Given this matrix.
1. Calculate the sum of all the elements in the matrix.
2. Calculate the sum of each row
3. Calculate the sum of each column.

In [59]:
#Take a 3X3 matrix as an input from the user.

In [60]:
row = []

for i in range(3):
  elem = int(input())
  row.append(elem)

4
7
5

In [61]:
print(row)

[4, 7, 5]

In [62]:
matrix = []

for i in range(3):
  row = []
  for j in range(3):
    elem = int(input())
    row.append(elem)

  matrix.append(row)

print(matrix)

4
6
3
8
9
1
2
5
0
[[4, 6, 3], [8, 9, 1], [2, 5, 0]]

In [63]:
#Calculate the sum of all the elements in the matrix.

a = [ [1,2,3] , [4,5,6] , [7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [64]:
n = len(a)
m = len(a[0])
sum = 0

for i in range(n):
  for j in range(m):
    sum = sum + a[i][j]

print(sum)

45

In [65]:
#Calculate the sum of each row

# op: row_sum = [6, 15, 24]

In [66]:
row_sum = [0, 0, 0] #initialization

for i in range(n):

  for j in range(m):
    row_sum[i] = row_sum[i] + a[i][j]

print(row_sum)

[6, 15, 24]

In [67]:
#Calculate the sum of each col

# op: col_sum = [12, 15, 18]

'''
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
'''

'\n[1, 2, 3]\n[4, 5, 6]\n[7, 8, 9]\n'

In [68]:
col_sum = [0, 0, 0] #initialization

for i in range(n):

  for j in range(m):
    col_sum[j] = col_sum[j] + a[i][j]

print(col_sum)

[12, 15, 18]

In [ ]:
#HW -->
'''
1. Re-write the above logic on your own
2. You will check this using a dry run / check using pen-paper
'''