<a href="https://colab.research.google.com/github/adityajain2407/july23-python/blob/main/july23_ps_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#concept- name of the conept
#assign  - name of the topic - the question name

In [ ]:
#Revision of GCD code

In [ ]:
a = 16
b = 24

In [ ]:
x = min(a,b)

In [ ]:
print(x)

16

In [ ]:
#code to print all the common divisors
for i in range(x, 0, -1):
  #check if i divides both the numbers
  if a%i == 0 and b%i == 0:
    print(i)

8
4
2
1

In [ ]:
#code to print the GCD
for i in range(x, 0, -1):
  #check if i divides both the numbers
  if a%i == 0 and b%i == 0:
    print(i)
    break

8

In [ ]:
#Given a number n, find the sum of digits of that number

In [ ]:
# Eg:
# ip: 475
# op: 4 + 7 + 5 = 16

In [ ]:
n = 475
sum = 0

while n > 0:
  last_digit = n%10
  sum += last_digit
  n = n//10

print(sum)

16

In [ ]:
n = 475
sum = 0

while n > 0:
  last_digit = n%10
  sum += last_digit
  n = n//10
  print("n =", n, "last_digit =", last_digit)

print(sum)

n = 47 last_digit = 5
n = 4 last_digit = 7
n = 0 last_digit = 4
16

In [ ]:
#Given a number i, print i * in a single row

In [ ]:
i = 7

for j in range(i):
  print("*", end = "")

*******

In [ ]:
n = 5
for i in range(1, n+1):

  #print i number of stars
  for j in range(i):
    print("*", end = "")

  print("")

*
**
***
****
*****

In [ ]:
#doubt

print(1)
print(2)
print(3)

1
2
3

In [ ]:
print("*", end = "")
print("1")

*1

In [ ]:
# Resume

In [ ]:
t = int(input())

while t > 0:

  a = int(input())
  b = int(input())

  #find and print HCF of a, b


  t -= 1

In [ ]:
T = int(input())
for j in range(T):
  A = int(input())
  B = int(input())
  ans = 0
  X = min(A,B)
  for i in range(1,X+1):
    if A % i == 0 and B % i == 0:
      ans = i


  print(ans)

2
15
105
15
24
36
12

In [ ]:
#print all the odd numbers from 1 to n, both inclusive
#while loop

In [ ]:
i = 1
n = 8
while i <= n:
  if i%2 == 1:
    print(i)

  i += 1

1
3
5
7

In [ ]:
for i in range(1, n+1):
  if i%2 == 1:
    print(i)

1
3
5
7

In [ ]:
#while without if
i = 1
n = 8
while i <= n:
  print(i)
  i += 2

1
3
5
7

In [ ]:
#for loop without using if
for i in range(1, n+1, 2):
    print(i)

1
3
5
7